.banner-img{
    background-image: url("/placeholder.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.colorBg{
  color: rgba(245, 53, 53, 0.5);
}